<head>
    <style>
        .product{
            width:80;
            height:25;
            color:darkred;
            background-color: beige;
            cursor: pointer;
            border: 13px;
            border-color:crimson;
        }
        .category{
            width:80;
            height:25;
            color:firebrick;
            background-color: beige;
            cursor: pointer;
            border: 13px;
            border-color:crimson ;
            margin-top: 15;
        }
    </style>
</head>
<body>
<h1>Shop Backend</h1>

<input class = "product" type="button" value="Products" onclick=" location.href='http://127.0.0.1:8000/api/products'">
<br>
<input class = "category" type="button" value="Categories" onclick=" location.href='http://127.0.0.1:8000/api/categories'">

    
</body>
<!-- <form>
    <label for="id">Enter the id for product:</label><br>
    <input type="number" id="id" value="number">
    <input type="submit" value="Submit" onsubmit="location.href='http://127.0.0.1:8000/api/categories'">
</form> -->
