<h2>Products</h2>
<div *ngFor="let product of products" class="product">

  <h3>
      <a
              [href]="product.url"
              [title]="product.name + ' details'"
          >
          {{ product.name }}
      </a>
      <br>
      
  </h3>
  
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  
  <img src = "{{product.image}}" width="100" height="110">
  <br>
  <button type="button" (click)="share(product.name,product.url)">
      Share
  </button>
  <app-product-alerts
          [product]="product"
          (notify)="onNotify()">
  </app-product-alerts>
  <hr>

</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->