<div class="product_item"> 
    <div class="remove_container">
        <button class="remove_button" (click)="removeProduct()">X</button>
    </div>
    <img class="product_image" [src]="product.imageUrl"/>
    <h3>
        <a [title]="product.name + ' ' + 'details'" href="{{product.link}}">
            {{ product.name }}
        </a>
    </h3>

    <h4>
        {{product.price}}
    </h4>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    
    <div class="like_container">
        <p>{{product.numLikes}}</p>
        <button class="like_button" (click)="toggleLike()">
            <img *ngIf="product.liked" src="https://ru-fun.ru/uploads/images/073b4d389f8fb408053e396e4fc5a847.jpg" weight="20" height="20">
            <img *ngIf="!product.liked" src="https://avatars.mds.yandex.net/i?id=1171775641683ec4b9282d8e927bc8da6356c253-9093405-images-thumbs&n=13"weight="20" height="20">
        </button>
    </div>

    <div class="buttons_container">
        <button class="share_button" type="button" (click)="share(product.name, product.link)">
            Share
        </button>
        <app-product-alerts [product]="product" (notify)="onNotify()">
        </app-product-alerts>
    </div>
</div>